---
- name: Install GUI and Docker dependencies
  apt:
    # Įdiegiama Grafinė aplinka, naršyklė, docker
    name: [task-xfce-desktop, firefox-esr, dbus-x11, docker.io, python3-docker, python3-requests]
    state: present
    update_cache: yes

- name: Create User
  user:
    name: "{{ gui_user }}"
    password: "{{ gui_pass | password_hash('sha512') }}"
    shell: /bin/bash
    groups: sudo,docker
    append: yes # pridedame į esamas grupes

- name: Enable GUI
  # Prijungiame prisijungimo langa (lightdm), kad įsijungtu automatiškai
  systemd: { name: lightdm, state: started, enabled: yes }

- name: Create Client Build Directory
  file:
    path: /opt/client_docker
    state: directory
    # (rwxr-xr-x)
    mode: '0755'

- name: Copy Dockerfile
  copy:
    # Imame įkeltą ClientDocker failą
    src: "{{ role_path }}/files/ClientDocker"
    # Nusiunčiame kaip "Dockerfile" dėl nuskaitymo
    dest: /opt/client_docker/Dockerfile

- name: Build Client Docker Image
  community.docker.docker_image:
    name: toitoi_client
    build:
      path: /opt/client_docker
    source: build
    force_source: yes # Pakeitimas, jei failai pasikeitė

- name: Run Client Container
  community.docker.docker_container:
    name: client_test_container
    image: toitoi_client
    state: started
    restart_policy: always
    # Įjungiame terminala, kad konteineris neišsijungtų
    tty: yes
    # Konteinerio paleidimas atskirai
    detach: yes
    env:
      WEB_IP: "{{ web_ip }}"
